* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
input,select,textarea{
width: 100%;
padding: 8px;
margin-bottom: 10px;
border-radius: 5px;
border: 1px solid #ccc;
}
#div{
    margin: auto;
    width: 90%;
    overflow: auto;
    padding: 3rem 2rem;
  }
#div2 , #div3{
  text-align: center;
  margin: auto;
  width: 90%;
  background-color: #f4f4f4;
  border: 3px solid #ccc;
}
.ebtn,.dbtn{
  margin-bottom: 7px;
  height: 30px;
  width:45%;
  border-radius: 10px;

}
.dbtn{
  background-color: red;
}
.ebtn{
  background-color: green;
}
#diva{
  margin:10px;
  width: 100%;
  background-color: rgb(144, 144, 241);
  border: 2px solid #ebf0ef;
  border-radius: 20px;
}
#submit{
    margin: auto;
    margin-left: 25%;
    width: 50%;
    overflow: auto;
    padding: 8px;
    background-color: rgb(2, 255, 65);
    border-radius: 20px;
    border: 0px;
}
label{
    text-align: center;
}
header {
  border: 60px;
  background: #f4f4f4;
  border-bottom: 5px solid #ccc;
  width: 90%;
  margin: auto;
  padding: 1rem;
  text-align: center;
}